<div class="center-page">
<form method='GET' action="/search">
  <label style="font-family: cursive; font-size: 1.5em;"><h1>Search Restaurants</h1></label>
  <input name='searchTerm' style="width: 100%; height: 100%; padding: 12px 20px;
    margin: 8px 0;">
    <button type="submit"><h3>Search</h3></button>
</form>
</div>
