<!doctype html>
<html>
<head>
  <title>{{title}} | {{site_name}}</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div style='text-align: right; margin-right: 50px;'>
{{#if session.user}}
  <h3> Hello {{session.user}}</h2>
{{/if}}
  </div>
  {{{body}}}
</body>
</html>
