<div class="center-page">
<form method=POST action="/submit_new">
<label><h1> Add a New Restaurant </h1></label>
<label> Name:</label><br>
<input type='text' placeholder="Torchy's Tacos" name='name'><br><br>
<label> Address:</label><br>
<input type='text' name='address' placeholder="123 Address Dr."><br><br>
<label> Type:</label><br>
<input type='text' name='category' placeholder="Italian"><br><br>
<button type='submit'> Submit </button>
</form>
</div>
