<div class="center-page">
<h1 style="font-family: cursive;"> Restaurants: </h1>
<ul>
  {{#each results}}
  <li>
    <h3>{{name}}</h3><a href="/restaurant/{{id}}">Website</a>
  </li>
{{/each}}
</ul>
</div>
